<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="css/css-accordion.css"/>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
    <title>Title</title>
</head>
<body>

<!-- Utskriften är ungefär rätt, men det finns många fel i koden -->

<button class="accordion">Fråga 1</button>
<div class="panel">
    <div ng-app="">
        <form name="createQuestion">
            <label>Frågetext</label><br/>
            <textarea rows="6" cols="50" id="questionText"></textarea>
            <br/> <br/>

            <label for="typeId">Välj typ av fråga</label><br/>
            <select ng-model="typeOfQuestion" id="typeId">
                <option value=""></option>
                <option value="singleChoice">Flervalsfråga med ett rätt svarsalternativ</option>
                <option value="multiChoice">Flervalsfråga med flera rätta svarsalternativ</option>
                <option value="open">Fritext</option>
            </select>
            <br/> <br/>
            <div ng-switch="typeOfQuestion">
                <div ng-switch-when="singleChoice">
                    <label for="numberOfAnswersSC">Välj antal svarsalternativ</label><br/>
                    <select ng-model="numOfAnswersSC" id="numOfAnswerSCId">
                        <option value=""></option>
                        <option value="twoSC">2</option>
                        <option value="threeSC">3</option>
                        <option value="fourSC">4</option>
                    </select>
                    <div ng-switch="numOfAnswersSC">
                        <div ng-switch-when="twoSC">
                            <label for="answerSC">Ange svarsalternativ</label><br/>
                            <p>a) <input type=”text” id="answerSC1" name="answerCB" maxlength="50"></p>
                            <p>b) <input type=”text” id="answerSC2" name="answerCB" maxlength="50"></p>
                        </div>
                    </div>
                    <div ng-switch="numOfAnswersSC">
                        <div ng-switch-when="threeSC">
                            <label for="answerSC">Ange svarsalternativ</label><br/>
                            <p>a) <input type=”text” id="answerSC1" name="answerCB" maxlength="50"></p>
                            <p>b) <input type=”text” id="answerSC2" name="answerCB" maxlength="50"></p>
                            <p>c) <input type=”text” id="answerSC3" name="answerCB" maxlength="50"></p>
                        </div>
                    </div>
                    <div ng-switch="numOfAnswersSC">
                        <div ng-switch-when="fourSC">
                            <label for="answerSC">Ange svarsalternativ</label><br/>
                            <p>a) <input type=”text” id="answerSC1" name="answerCB" maxlength="50"></p>
                            <p>b) <input type=”text” id="answerSC2" name="answerCB" maxlength="50"></p>
                            <p>c) <input type=”text” id="answerSC3" name="answerCB" maxlength="50"></p>
                            <p>d) <input type=”text” id="answerSC4" name="answerCB" maxlength="50"></p>
                        </div>
                    </div>
                </div>
            </div>

            <div ng-switch="typeOfQuestion">
                <div ng-switch-when="multiChoice">
                    <label for="numberOfAnswersMC">Välj antal svarsalternativ</label><br/>
                    <select ng-model="numOfAnswersMC" id="numOfAnswerMCId">
                        <option value=""></option>
                        <option value="twoMC">2</option>
                        <option value="threeMC">3</option>
                        <option value="fourMC">4</option>
                        <option value="fiveMC">5</option>
                        <option value="sixMC">6</option>
                    </select>
                    <div ng-switch="numOfAnswersMC">
                        <div ng-switch-when="twoMC">
                            <label for="answerMC">Ange svarsalternativ</label><br/>
                            <p>a) <input type=”text” id="answerMC1" name="answerCB" maxlength="50"></p>
                            <p>b) <input type=”text” id="answerMC2" name="answerCB" maxlength="50"></p>
                        </div>
                    </div>
                    <div ng-switch="numOfAnswersMC">
                        <div ng-switch-when="threeMC">
                            <label for="answerMC">Ange svarsalternativ</label><br/>
                            <p>a) <input type=”text” id="answerMC1" name="answerCB" maxlength="50"></p>
                            <p>b) <input type=”text” id="answerMC2" name="answerCB" maxlength="50"></p>
                            <p>c) <input type=”text” id="answerMC3" name="answerCB" maxlength="50"></p>
                        </div>
                    </div>
                    <div ng-switch="numOfAnswersMC">
                        <div ng-switch-when="fourMC">
                            <label for="answerMC">Ange svarsalternativ</label><br/>
                            <p>a) <input type=”text” id="answerMC1" name="answerCB" maxlength="50"></p>
                            <p>b) <input type=”text” id="answerMC2" name="answerCB" maxlength="50"></p>
                            <p>c) <input type=”text” id="answerMC3" name="answerCB" maxlength="50"></p>
                            <p>d) <input type=”text” id="answerMC4" name="answerCB" maxlength="50"></p>
                        </div>
                    </div>
                    <div ng-switch="numOfAnswersMC">
                        <div ng-switch-when="fiveMC">
                            <label for="answerMC">Ange svarsalternativ</label><br/>
                            <p>a) <input type=”text” id="answerMC1" name="answerCB" maxlength="50"></p>
                            <p>b) <input type=”text” id="answerMC2" name="answerCB" maxlength="50"></p>
                            <p>c) <input type=”text” id="answerMC3" name="answerCB" maxlength="50"></p>
                            <p>d) <input type=”text” id="answerMC4" name="answerCB" maxlength="50"></p>
                            <p>e) <input type=”text” id="answerMC5" name="answerCB" maxlength="50"></p>
                        </div>
                    </div>
                    <div ng-switch="numOfAnswersMC">
                        <div ng-switch-when="sixMC">
                            <label for="answerMC">Ange svarsalternativ</label><br/>
                            <p>a) <input type=”text” id="answerMC1" name="answerCB" maxlength="50"></p>
                            <p>b) <input type=”text” id="answerMC2" name="answerCB" maxlength="50"></p>
                            <p>c) <input type=”text” id="answerMC3" name="answerCB" maxlength="50"></p>
                            <p>d) <input type=”text” id="answerMC4" name="answerCB" maxlength="50"></p>
                            <p>e) <input type=”text” id="answerMC5" name="answerCB" maxlength="50"></p>
                            <p>f) <input type=”text” id="answerMC6" name="answerCB" maxlength="50"></p>
                        </div>
                    </div>
                </div>
            </div>
            <div ng-switch="typeOfQuestion">
                <div ng-switch-when="open">
                    <label for="answerOpen">Rätt svar</label><br/>
                    <textarea rows="6" cols="50" id="answerOpen"></textarea>
                    <br/><br/>
                </div>
            </div>
            <br/>
            <label>Maxpoäng på frågan</label><br/>
            <input type="number" id="maxPoint">
            <br/><br/>
            <input type="submit" value="Submit">
        </form>
    </div>
</div>
<button class="accordion">Fråga 2</button>
<div class="panel">
    <p>Nästa fråga.</p>
</div>


<script src="js/js-accordion.js"></script>
</body>
</html>