<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Webbprojekt</title>

    <link rel="stylesheet" type="text/css" href="../CSS-Login/unsemantic-grid-responsive-tablet.css">
    <link rel="stylesheet" type="text/css" href="CSS-AdminSida/användareCSS.css">
    <script type="text/javascript" src="Javascript-AdminSida/jquery-1.12.3.min.js"></script>
    <script type="text/javascript" src="Javascript-AdminSida/createUser.js"></script>

</head>
<body>
<div>
    <div class="grid-90 prefix-20 grid-parent">

        <ul class="tab-list">
            <li class="grid-20 prefix-5 userButton"><a href="#skapaAnvändare" class="userA tab-control"><span>Skapa Användare</span></a></li>
            <li class="grid-20 prefix-5 userButton"><a href="#hanteraAnvändare" class="userA tab-control"><span>Hantera Användare</span></a></li>
        </ul>

    </div>

    <section class="grid-100 tab-panel" id="skapaAnvändare">

        <form class="grid-30" name="myForm">

            <section class="formSection">
            <label for="firstname">Förnamn</label>
            <input type="text" id="firstname" name="myName" ng-model="myName" required/>
            <label class="grid-100 validationLabel"  ng-show="myForm.myName.$touched && myForm.myName.$invalid">Du måste skriva in ett namn.</label>
            </section>

            <section class="formSection">
            <label for="lastname">Efternamn</label>
            <input type="text" id="lastname" name="myLastname" ng-model="myLastname" required>
            <label class="grid-100 validationLabel" ng-show="myForm.myLastname.$touched && myForm.myLastname.$invalid">Du måste skriva in ett efternamn.</label>
            </section>

            <section class="formSection">
            <label for="email">Email</label>
            <input type="text" id="email" name="myEmail" ng-model="myEmail" required>
            <label class="grid-100 validationLabel" ng-show="myForm.myEmail.$touched && myForm.myEmail.$invalid">Du måste skriva in en email.</label>
            </section>

            <section class="formSection">
            <label for="password">Lösenord</label>
            <input type="text" id="password" name="myPassword" ng-model="myPassword" required>
            <label class="grid-100 validationLabel" ng-show="myForm.myPassword.$touched && myForm.myPassword.$invalid">Du måste skriva in ett lösenord.</label>
            </section>

            <section class="formSection">
            <label for="klass">Klasser</label>
            <select name="Klasser" id="klass">
                <option value="java">Java</option>
                <option value="net">.Net</option>
            </select>
            </section>

            <button id="createUser" onclick="createUser()"></button>

        </form>
    </section>


    <section class="grid-100 tab-panel" id="hanteraAnvändare">
        <p>Här ska man kunna hantera användare.</p>
    </section>

    <script type="text/javascript" src="Javascript-AdminSida/användareTabs.js"></script>
</div>
</body>
</html>
