<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Webbprojekt</title>
    <link rel="stylesheet" type="text/css" href="CSS-AdminSida/användareCSS.css">
    <link rel="stylesheet" type="text/css" href="CSS-AdminSida/unsemantic-grid-responsive-tablet.css">
    <script type="text/javascript" src="Javascript-AdminSida/jquery-1.12.3.min.js"></script>
    <script type="text/javascript" src="Javascript-AdminSida/createUser.js"></script>
    <script src="Javascript-AdminSida/editUser.js"></script>
    <script src="Javascript-AdminSida/createUser.js"></script>
    <script src="Javascript-AdminSida/drawList.js"></script>
    <script src="Javascript-AdminSida/createClass.js"></script>


</head>
<body>
<div>
    <div class="grid-90 prefix-20 grid-parent">

        <ul class="tab-list">
            <li class="grid-20 prefix-5 userButton"><a  href="#skapaAnvändare" class="userA tab-control"><span>Skapa Användare</span></a></li>
            <li class="grid-20 prefix-5 userButton"><a  href="#hanteraAnvändare" class="userA tab-control"><span class="reload-list">Hantera Användare</span></a></li>
        </ul>

    </div>

    <section class="grid-100 tab-panel grid-parent" id="skapaAnvändare">

        <form class="grid-30" name="myForm" id="myForm">

            <section class="formSection">
            <label for="firstname">Förnamn</label>
            <input type="text" id="firstname" name="myName" data-ng-model="myName" required/>
            <label class="grid-100 validationLabel"  data-ng-show="myForm.myName.$touched && myForm.myName.$invalid">Du måste skriva in ett namn.</label>
            </section>

            <section class="formSection">
            <label for="lastname">Efternamn</label>
            <input type="text" id="lastname" name="myLastname" data-ng-model="myLastname" required>
            <label class="grid-100 validationLabel" data-ng-show="myForm.myLastname.$touched && myForm.myLastname.$invalid">Du måste skriva in ett efternamn.</label>
            </section>

            <section class="formSection">
            <label for="email">Email</label>
            <input type="text" id="email" name="myEmail" data-ng-model="myEmail" required>
            <label class="grid-100 validationLabel" data-ng-show="myForm.myEmail.$touched && myForm.myEmail.$invalid">Du måste skriva in en email.</label>
            </section>

            <section class="formSection">
            <label for="password">Lösenord</label>
            <input type="text" id="password" name="myPassword" data-ng-model="myPassword" required>
            <label class="grid-100 validationLabel" data-ng-show="myForm.myPassword.$touched && myForm.myPassword.$invalid">Du måste skriva in ett lösenord.</label>
            </section>

            <section class="formSection">
            <label for="klass">Klasser</label>
            <select name="Klasser" id="klass">
                <option value="Java">Java</option>
                <option value=".Net">.Net</option>
            </select>
            </section>

            <button id="createUser">Skapa användare</button>
        </form>

        <form class="grid-30 prefix-30" id="skapaKlassForm">
            <label for="inputClass">Skapa klass</label>
            <input type="text" id="inputClass">
            <button id="createClass">Skapa klass</button>
        </form>
    </section>


    <section class="grid-100 tab-panel grid-parent" id="hanteraAnvändare">
        <section id="centerAlign">

            <section class="grid-75 prefix-10" id="ulSection">
            <label for="handleUL">Studenter</label>
            <div id="handleUl" class="grid-100">

            </div>
            </section>

            <form class="grid-100" name="Form" id="form">

                <section class="grid-90 prefix-5 handleForm">
                <section class="formSection">
                    <label for="handleFirstname">Förnamn:</label>
                    <input type="text" id="handleFirstname" class="handleInput" name="myName" data-ng-model="myName" required/>
                </section>

                <section class="formSection">
                    <label for="handleLastname">Efternamn:</label>
                    <input type="text" id="handleLastname" class="handleInput" name="myLastname" data-ng-model="myLastname" required>
                </section>
                </section>

                <section class="grid-90 prefix-5 handleForm">
                <section class="formSection">
                    <label for="handleEmail">Email:</label>
                    <input type="text" id="handleEmail" class="handleInput" name="myEmail" data-ng-model="myEmail" required>
                </section>

                <section class="formSection" id="labelPw">
                    <label for="handlePassword">Lösenord:</label>
                    <input type="text" id="handlePassword" class="handleInput" name="myPassword" data-ng-model="myPassword" required>
                </section>
                </section>

                <section class="grid-90 prefix-5 handleForm">
                <section class="formSection">
                    <label for="handleKlass">Klasser:</label>
                    <select name="Klasser" id="handleKlass">
                    </select>
                </section>
                    <button id="handleButton" class="reload-list">Uppdatera uppgifter</button>
                </section>

                </form>
        </section>
    </section>

    <script type="text/javascript" src="Javascript-AdminSida/användareTabs.js"></script>
</div>
</body>
</html>
