<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <!--<link rel="stylesheet" type="text/css" href="CSS-AdminSida/css-accordion.css"/>-->
    <link rel="stylesheet" type="text/css" href="CSS-AdminSida/css-createTest.css"/>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
    <script src="Javascript-AdminSida/jquery-1.12.3.min.js"></script>
    <title>Title</title>
</head>
<body data-ng-app="">
<header>
    <h1 id="headlineCreateForm">Skapa test</h1>
    <form id="testHeaderForm" name="testHeader">
        <fieldset>
            <legend id="testLegend">Testinformation</legend>
            <label for="testName">Testets namn: </label>
            <input type="text" size="30" maxlength="50" id="testName" name="testName"><br/><br/>
            <label for="testTime">Tid för testet, i minuter: </label>
            <input type="number" min="0" max="99999" id="testTime" name="testTime"><br/><br/>
            <div id="onlyGtest" data-ng-init="onlyGSwitch=false">
                <label for="gPercent">Procentgräns för godkänt: </label>
                <input type="number" min="0" max="100" id="gPercent" name="gPercent">
                <input type="checkbox" id="onlyGId" data-ng-model="onlyGSwitch"/>Testet innehåller bara
                godkänd-frågor<br/><br/>
                <label for="vgPercent">Procentgräns för väl godkänt: </label>
                <input type="number" min="0" max="100" id="vgPercent" name="vgPercent"
                       data-ng-disabled="onlyGSwitch"><br/>
                <br/>
            </div>
            <input type="button" value="Spara testinformation" id="saveTestInfoBtn" onclick="saveTestInfo()">
            <!--
            A test of if the value of vgPercent is larger than the value of gPercent is included in
            saveTestInfo()
            This test must be passed to for the user to be able to proceed with the creation of the test
            -->
        </fieldset>
    </form>
</header>
<br/>
<!--
<button class="accordion">Fråga 1</button>
<div class="panel">
-->
<!--testinfo måste sparas innan frågemallen blir synlig -->
<!--<div data-ng-app="createQuestion" data-ng-controller="questionController">-->
<div data-ng-app="">
    <form id="createQuestionForm" name="createQuestion">
        <fieldset>
            <legend id="questionId"></legend>
            <label for="questionText">Frågetext: </label>
            <textarea rows="6" cols="50" id="questionText"></textarea>
            <br/> <br/>

            <label for="typeId">Välj typ av fråga: </label>
            <select data-ng-model="typeOfQuestion" id="typeId">
                <option value=""></option>
                <option value="singleChoice">Flervalsfråga med ett rätt svarsalternativ</option>
                <option value="multiChoice">Flervalsfråga med flera rätta svarsalternativ</option>
                <option value="open">Fritext</option>
            </select>
            <br/> <br/>
            <div data-ng-switch="typeOfQuestion">
                <div id="singleC" data-ng-switch-when="singleChoice">
                    <label class="resetNewQuestion" for="numberOfAnswersSC">Välj antal svarsalternativ: </label>
                    <select class="resetNewQuestion" data-ng-model="numOfAnswersSC" id="numberOfAnswersSC">
                        <option value=""></option>
                        <option value="twoSC">2</option>
                        <option value="threeSC">3</option>
                        <option value="fourSC">4</option>
                    </select>
                    <div data-ng-switch="numOfAnswersSC">
                        <div data-ng-switch-when="twoSC">
                            <label>Ange svarsalternativ och vilket som är rätt svar: </label>
                            <div id="twoSCid">
                                <p>a) <input type=”text” class="answerBoxes" id="answerSC12text" name="answerCB"
                                             maxlength="50">
                                    <input type="radio" class="answerBoxes" id="answerSC12radio" name="radio2"
                                           data-ng-model="correctAnswer2sc"
                                           value="a"></p>
                                <p>b) <input type=”text” class="answerBoxes" id="answerSC22text" name="answerCB"
                                             maxlength="50">
                                    <input type="radio" class="answerBoxes" id="answerSC22radio" name="radio2"
                                           data-ng-model="correctAnswer2sc"
                                           value="b"></p>
                                <div data-ng-switch="correctAnswer2sc">
                                    <div data-ng-switch-when="a">
                                        <p>Svar a) är rätt</p>
                                    </div>
                                </div>
                                <div data-ng-switch="correctAnswer2sc">
                                    <div data-ng-switch-when="b">
                                        <p>Svar b) är rätt</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div data-ng-switch="numOfAnswersSC">
                        <div data-ng-switch-when="threeSC">
                            <label>Ange svarsalternativ och vilket som är rätt svar: </label>
                            <div id="threeSCid">
                                <p>a) <input type=”text” class="answerBoxes" id="answerSC13text" name="answerCB"
                                             maxlength="50">
                                    <input type="radio" class="answerBoxes" id="answerSC13radio" name="radio3"
                                           data-ng-model="correctAnswer3sc"
                                           value="a"></p>
                                <p>b) <input type=”text” class="answerBoxes" id="answerSC23text" name="answerCB"
                                             maxlength="50">
                                    <input type="radio" class="answerBoxes" id="answerSC23radio" name="radio3"
                                           data-ng-model="correctAnswer3sc"
                                           value="b"></p>
                                <p>c) <input type=”text” class="answerBoxes" id="answerSC33text" name="answerCB"
                                             maxlength="50">
                                    <input type="radio" class="answerBoxes" id="answerSC33radio" name="radio3"
                                           data-ng-model="correctAnswer3sc"
                                           value="c"></p>
                                <div data-ng-switch="correctAnswer3sc">
                                    <div data-ng-switch-when="a">
                                        <p>Svar a) är rätt</p>
                                    </div>
                                </div>
                                <div data-ng-switch="correctAnswer3sc">
                                    <div data-ng-switch-when="b">
                                        <p>Svar b) är rätt</p>
                                    </div>
                                </div>
                                <div data-ng-switch="correctAnswer3sc">
                                    <div data-ng-switch-when="c">
                                        <p>Svar c) är rätt</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div data-ng-switch="numOfAnswersSC">
                        <div data-ng-switch-when="fourSC">
                            <label>Ange svarsalternativ och vilket som är rätt svar: </label>
                            <div id="fourSCid">
                                <p>a) <input type=”text” class="answerBoxes" id="answerSC14text" name="answerCB"
                                             maxlength="50">
                                    <input type="radio" class="answerBoxes" id="answerSC14radio" name="radio4"
                                           data-ng-model="correctAnswer4sc"
                                           value="a"></p>
                                <p>b) <input type=”text” class="answerBoxes" id="answerSC24text" name="answerCB"
                                             maxlength="50">
                                    <input type="radio" class="answerBoxes" id="answerSC24radio" name="radio4"
                                           data-ng-model="correctAnswer4sc"
                                           value="b"></p>
                                <p>c) <input type=”text” class="answerBoxes" id="answerSC34text" name="answerCB"
                                             maxlength="50">
                                    <input type="radio" class="answerBoxes" id="answerSC34radio" name="radio4"
                                           data-ng-model="correctAnswer4sc"
                                           value="c"></p>
                                <p>d) <input type=”text” class="answerBoxes" id="answerSC44text" name="answerCB"
                                             maxlength="50">
                                    <input type="radio" class="answerBoxes" id="answerSC44radio" name="radio4"
                                           data-ng-model="correctAnswer4sc"
                                           value="d"></p>
                                <div data-ng-switch="correctAnswer4sc">
                                    <div data-ng-switch-when="a">
                                        <p>Svar a) är rätt</p>
                                    </div>
                                </div>
                                <div data-ng-switch="correctAnswer4sc">
                                    <div data-ng-switch-when="b">
                                        <p>Svar b) är rätt</p>
                                    </div>
                                </div>
                                <div data-ng-switch="correctAnswer4sc">
                                    <div data-ng-switch-when="c">
                                        <p>Svar c) är rätt</p>
                                    </div>
                                </div>
                                <div data-ng-switch="correctAnswer4sc">
                                    <div data-ng-switch-when="d">
                                        <p>Svar d) är rätt</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div data-ng-switch="typeOfQuestion">
                <div id="multiC" data-ng-switch-when="multiChoice">
                    <label class="resetNewQuestion" for="numberOfAnswersMC">Välj antal svarsalternativ: </label>
                    <select class="resetNewQuestion" data-ng-model="numOfAnswersMC" id="numberOfAnswersMC">
                        <option value=""></option>
                        <option value="twoMC">2</option>
                        <option value="threeMC">3</option>
                        <option value="fourMC">4</option>
                        <option value="fiveMC">5</option>
                        <option value="sixMC">6</option>
                    </select>
                    <br/>
                    <br/>

                    <div data-ng-switch="numOfAnswersMC">
                        <div data-ng-switch-when="twoMC">
                            <label>Ange svarsalternativ och vilka de rätta svaren är: </label>
                            <div id="twoMCid">
                                <p>a) <input type=”text” class="answerBoxes"
                                                                      id="answerMC12text"
                                                                      name="answerCB" maxlength="50">
                                    <input type="checkbox" class="answerBoxes" id="answerMC12check"
                                           data-ng-model="correctAnswerAmc"></p>
                                <p>b) <input type=”text” class="answerBoxes"
                                                                      id="answerMC22text"
                                                                      name="answerCB" maxlength="50">
                                    <input type="checkbox" class="answerBoxes" id="answerMC22check"
                                           data-ng-model="correctAnswerBmc"></p>
                                <p data-ng-show="correctAnswerAmc">Svar a) är rätt</p>
                                <p data-ng-show="correctAnswerBmc">Svar b) är rätt</p>
                            </div>
                        </div>
                    </div>
                    <div data-ng-switch="numOfAnswersMC">
                        <div data-ng-switch-when="threeMC">
                            <label>Ange svarsalternativ och vilka de rätta svaren är: </label>
                            <div id="threeMCid">
                                <p>a) <input type=”text” class="answerBoxes" id="answerMC13text" name="answerCB"
                                             maxlength="50">
                                    <input type="checkbox" class="answerBoxes" id="answerMC13check"
                                           data-ng-model="correctAnswerAmc"></p>
                                <p>b) <input type=”text” class="answerBoxes" id="answerMC23text" name="answerCB"
                                             maxlength="50">
                                    <input type="checkbox" class="answerBoxes" id="answerMC23check"
                                           data-ng-model="correctAnswerBmc"></p>
                                <p>c) <input type=”text” class="answerBoxes" id="answerMC33text" name="answerCB"
                                             maxlength="50">
                                    <input type="checkbox" class="answerBoxes" id="answerMC33check"
                                           data-ng-model="correctAnswerCmc"></p>
                                <p data-ng-show="correctAnswerAmc">Svar a) är rätt</p>
                                <p data-ng-show="correctAnswerBmc">Svar b) är rätt</p>
                                <p data-ng-show="correctAnswerCmc">Svar c) är rätt</p>
                            </div>
                        </div>
                    </div>
                    <div data-ng-switch="numOfAnswersMC">
                        <div data-ng-switch-when="fourMC">
                            <label>Ange svarsalternativ och vilka de rätta svaren är: </label>
                            <div id="fourMCid">
                                <p>a) <input type=”text” class="answerBoxes" id="answerMC14text" name="answerCB"
                                             maxlength="50">
                                    <input type="checkbox" class="answerBoxes" id="answerMC14check"
                                           data-ng-model="correctAnswerAmc"></p>
                                <p>b) <input type=”text” class="answerBoxes" id="answerMC24text" name="answerCB"
                                             maxlength="50">
                                    <input type="checkbox" class="answerBoxes" id="answerMC24check"
                                           data-ng-model="correctAnswerBmc"></p>
                                <p>c) <input type=”text” class="answerBoxes" id="answerMC34text" name="answerCB"
                                             maxlength="50">
                                    <input type="checkbox" class="answerBoxes" id="answerMC34check"
                                           data-ng-model="correctAnswerCmc"></p>
                                <p>d) <input type=”text” class="answerBoxes" id="answerMC44text" name="answerCB"
                                             maxlength="50">
                                    <input type="checkbox" class="answerBoxes" id="answerMC44check"
                                           data-ng-model="correctAnswerDmc"></p>
                                <p data-ng-show="correctAnswerAmc">Svar a) är rätt</p>
                                <p data-ng-show="correctAnswerBmc">Svar b) är rätt</p>
                                <p data-ng-show="correctAnswerCmc">Svar c) är rätt</p>
                                <p data-ng-show="correctAnswerDmc">Svar d) är rätt</p>
                            </div>
                        </div>
                    </div>
                    <div data-ng-switch="numOfAnswersMC">
                        <div data-ng-switch-when="fiveMC">
                            <label>Ange svarsalternativ och vilka de rätta svaren är: </label>
                            <div id="fiveMCid">
                                <p>a) <input type=”text” class="answerBoxes" id="answerMC15text" name="answerCB"
                                             maxlength="50">
                                    <input type="checkbox" class="answerBoxes" id="answerMC15check"
                                           data-ng-model="correctAnswerAmc"></p>
                                <p>b) <input type=”text” class="answerBoxes" id="answerMC25text" name="answerCB"
                                             maxlength="50">
                                    <input type="checkbox" class="answerBoxes" id="answerMC25check"
                                           data-ng-model="correctAnswerBmc"></p>
                                <p>c) <input type=”text” class="answerBoxes" id="answerMC35text" name="answerCB"
                                             maxlength="50">
                                    <input type="checkbox" class="answerBoxes" id="answerMC35check"
                                           data-ng-model="correctAnswerCmc"></p>
                                <p>d) <input type=”text” class="answerBoxes" id="answerMC45text" name="answerCB"
                                             maxlength="50">
                                    <input type="checkbox" class="answerBoxes" id="answerMC45check"
                                           data-ng-model="correctAnswerDmc"></p>
                                <p>e) <input type=”text” class="answerBoxes" id="answerMC55text" name="answerCB"
                                             maxlength="50">
                                    <input type="checkbox" class="answerBoxes" id="answerMC55check"
                                           data-ng-model="correctAnswerEmc"></p>
                                <p data-ng-show="correctAnswerAmc">Svar a) är rätt</p>
                                <p data-ng-show="correctAnswerBmc">Svar b) är rätt</p>
                                <p data-ng-show="correctAnswerCmc">Svar c) är rätt</p>
                                <p data-ng-show="correctAnswerDmc">Svar d) är rätt</p>
                                <p data-ng-show="correctAnswerEmc">Svar e) är rätt</p>
                            </div>
                        </div>
                    </div>
                    <div data-ng-switch="numOfAnswersMC">
                        <div data-ng-switch-when="sixMC">
                            <label>Ange svarsalternativ och vilka de rätta svaren är: </label>
                            <div id="sixMCid">
                                <p>a) <input type=”text” class="answerBoxes" id="answerMC16text" name="answerCB"
                                             maxlength="50">
                                    <input type="checkbox" class="answerBoxes" id="answerMC16check"
                                           data-ng-model="correctAnswerAmc"></p>
                                <p>b) <input type=”text” class="answerBoxes" id="answerMC26text" name="answerCB"
                                             maxlength="50">
                                    <input type="checkbox" class="answerBoxes" id="answerMC26check"
                                           data-ng-model="correctAnswerBmc"></p>
                                <p>c) <input type=”text” class="answerBoxes" id="answerMC36text" name="answerCB"
                                             maxlength="50">
                                    <input type="checkbox" class="answerBoxes" id="answerMC36check"
                                           data-ng-model="correctAnswerCmc"></p>
                                <p>d) <input type=”text” class="answerBoxes" id="answerMC46text" name="answerCB"
                                             maxlength="50">
                                    <input type="checkbox" class="answerBoxes" id="answerMC46check"
                                           data-ng-model="correctAnswerDmc"></p>
                                <p>e) <input type=”text” class="answerBoxes" id="answerMC56text" name="answerCB"
                                             maxlength="50">
                                    <input type="checkbox" class="answerBoxes" id="answerMC56check"
                                           data-ng-model="correctAnswerEmc"></p>
                                <p>f) <input type=”text” class="answerBoxes" id="answerMC66text" name="answerCB"
                                             maxlength="50">
                                    <input type="checkbox" class="answerBoxes" id="answerMC66check"
                                           data-ng-model="correctAnswerFmc"></p>
                                <p data-ng-show="correctAnswerAmc">Svar a) är rätt</p>
                                <p data-ng-show="correctAnswerBmc">Svar b) är rätt</p>
                                <p data-ng-show="correctAnswerCmc">Svar c) är rätt</p>
                                <p data-ng-show="correctAnswerDmc">Svar d) är rätt</p>
                                <p data-ng-show="correctAnswerEmc">Svar e) är rätt</p>
                                <p data-ng-show="correctAnswerFmc">Svar f) är rätt</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div data-ng-switch="typeOfQuestion">
                <div id="open" data-ng-switch-when="open">
                    <label for="answerOpen">Noteringar om svar: </label>
                    <!-- Här kan admin t.ex. skriva vilka element som ska ingå i svaret -->
                    <!-- den här typen av frågor ingår inte i automatisk rättning -->
                    <textarea rows="6" cols="50" id="answerOpen" name="answerOpen"></textarea>
                    <br/><br/>
                </div>
            </div>

            <br/>
            <label>Maxpoäng på frågan: </label>
            <input type="number" min="0" max="10" id="maxPoint">
            <br/><br/>

            <input type="button" value="Spara fråga" id="saveQuestionBtn" onclick="saveQuestion()">
            <br/>
        </fieldset>
    </form>
    <br/>
    <div id="saveTestBtnAlign">
        <input type="button" value="Spara test" id="saveTest" onclick="saveTest()">
    </div>
</div>
</div>
<!--
<button class="accordion">Fråga 2</button>
<div class="panel">
    <p>Nästa fråga.</p>
</div>
-->
<!--<script src="Javascript-AdminSida/js-createTest.js"></script>-->
<script src="Javascript-AdminSida/saveTest.js"></script>
<!--<script src="Javascript-AdminSida/js-accordion.js"></script>-->
</body>
</html>