header{
text-align: center;
}

body{
overflow: hidden;
background-image: url(http://www.newton.se/shared/2015/01/Newton_bw-0410-p19b7cmvjd1fn444k12ae1b9dfql-e1420809104674.jpg);
background-size: 2000px;
}

#ar1{
text-align: center;
background-color: rgba(232,220,4,.8);
border-radius: 10px;
}



#ar2{
text-align: right;
}

#ar3{
border-style: solid;
border-color: black;
border-width: 2px;
height: 200px;
overflow: scroll;
background-color: white;
}


#s1{
text-align: center;
}

h1{
font-size: 60px;
font-family: "Times New Roman";
    background-color: rgba(232,220,4,.8);
    border-radius: 10px;
}

h2{
font-size: 40px;
    background-color: rgba(232,220,4,.8);
    border-radius: 10px;
}



.student-status{
font-size: 20px;
}

#logout-button{
text-align: center;
width: auto;
height: auto;
}

.test-div{
text-align: left;
padding: 10px;
font-size: 20px;
font-weight: bold;
}

.test-div:hover{
cursor: pointer;
}

.button-div{
text-align: right;
margin-top: 8px;
}

.button{
    background-color: rgba(232,220,4,1);
    border-radius: 10px;
    border:none;
}

.button:focus{
outline: none;
}

.button:hover{
background-color: gray;
cursor: pointer;
}