header{
text-align: center;
}

#ar1{

}

#ar2{
text-align: right;
}

#ar3{
border-style: solid;
border-color: black;
border-width: 2px;
height: 200px;
overflow: scroll;
}


#s1{
text-align: center;
}

h1{
font-size: 60px;
}

h2{
font-size: 40px;
}



.student-status{
font-size: 20px;
}

#logout-button{
text-align: center;
width: auto;
height: auto;
}

.test-div{
text-align: left;
padding: 10px;
font-size: 20px;
font-weight: bold;
}

.button-div{
text-align: right;
margin-top: 8px;
}