body{
    background-color: lightgrey;
}


#backgroundSection{
    background-color: white;
}

#labelDiv{
    margin-top: 65px;
    color: white;
    text-align: right;
}

#headSection{
    text-align: center;
    margin-top: 20px;
    background-color: #EE7202;
}

#timer{
    margin-top: 30px;
    margin-bottom: 30px;
    text-align: center;
}

button.accordion {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
}
.freeTexts{
    resize: none;
}
.answers{
    display: block;
}
button.accordion:hover{
    background-color: #EE7202;
}

button.accordion.active{
    background-color: #eee
}

button.active:hover{
    background-color: #EE7202;
}

div.panel {
    padding:0 18px;
    background-color: white;
    display: none;
}
div.panel.show {
    display: block !important;

}
button.accordion:after {
    content: '\02795'; /* Unicode character for "plus" sign (+) */
    font-size: 13px;
    color: #777;
    float: right;
    margin-left: 5px;
}

button.accordion.active:after {
    content: "\2796"; /* Unicode character for "minus" sign (-) */
}