#myForm{
    margin-top: 50px;
}

input{
    margin-bottom: 15px;
    width: 300px;
    height: 30px;
}

label{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
}

#validationSection{
    margin-top: 50px;

}

.formSection {
    display: inline-block;
    margin-left: 23px;
}

form{
    margin-left: 57px;
}

#handleEmail{
    margin-left: 44px;
}

#handlePassword{
    margin-left: 27px;
}

#handleKlass{
    margin-left: 30px;
}

#handleButton{
    margin-left: 50px;
}

#labelPw{
    margin-left: 24px;
}

.validationLabel{
    color: red;
}

.handleForm{
    display: inline-block;
}

#handleUl{
    width: 800px;
    height: 350px;
    border-style: solid;
    border-width: 2px;
    border-color: black;
    overflow: scroll;
}

#ulSection{
    margin-left: 150px;
}

.handleInput{
    margin-left: 20px;
}


.userButton {
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    color: #ffffff;
    background: darkorange;
    padding: 10px 20px 10px 20px;
    border-style: none;
    text-decoration: none;
    list-style: none;
}

.userButton:hover {
    background: orange;
    text-decoration: none;
}

.userA{
    font-size: 16px;
    margin-left: 3px;
}

.tab-panel{
    display: none;
}
.tab-panel.active{
    display: block;
}

.handle-item{
padding: 8px;
cursor: pointer;
}

.handle-div{

}

.white{
background-color: white;
}

.grey{
background-color: lightgray;
}