.userButton{
   text-align: center;
}



#studenter{
    width: 800px;
    height: 350px;
    border-style: solid;
    border-width: 2px;
    border-color: black;
    overflow: scroll;
}

.userButton {
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    color: #ffffff;
    background: darkorange;
    padding: 10px 20px 10px 20px;
    border-style: none;
    text-decoration: none;
    list-style: none;
}

.userButton:hover {
    background: orange;
    text-decoration: none;
}

.userA{
    font-size: 16px;
}

.tab-panel{
    display: none;
}
.tab-panel.active{
    display: block;
}

#tilldelaSection{
    margin-left: 150px;
}

.inlineSection{
 margin-left: 0;
}

.selectProv{
    margin-top: 20px;
}

.white{
background-color: white;
}

.gray{
background-color: lightgray;
}

.handle-item{
    padding:8px;
    cursor: pointer;
}

.sectionInline{
    margin-top: 15px;

}

.textInline{
   margin-top: 15px;

}

#studentNav, #testNav{
    width: 450px;
    height: 300px;
    border-color: lightgrey;
    border-style: solid;
    border-width: 1px;
    overflow: scroll;
    resize: none;
}

#txtResult, #txtComment{
    width: 450px;
    height: 300px;
    border-color: lightgrey;
    border-width: 1px;
    overflow: scroll;
    resize: none;
}

.label1{
    float: inherit;
}

#sendMail {
    margin-left: 910px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    color: #ffffff;
    background: darkorange;
    padding: 10px 20px 10px 20px;
    border-style: none;
    text-decoration: none;
    list-style: none;
}

#sendMail:hover {
    background: orange;
    text-decoration: none;
}


.gray{
background-color: lightgray;
}
.white{
background-color: white;
}

.test{
margin: 5px;
cursor: pointer;
}

.student{
cursor: pointer;
margin: 5px;
}
