#studenter{
    width: 800px;
    height: 350px;
    border-style: solid;
    border-width: 2px;
    border-color: black;
    overflow: scroll;
}

.userButton {
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    color: #ffffff;
    background: darkorange;
    padding: 10px 20px 10px 20px;
    border-style: none;
    text-decoration: none;
    list-style: none;
}

.userButton:hover {
    background: orange;
    text-decoration: none;
}

.userA{
    font-size: 16px;
    margin-left: 3px;
}

.tab-panel{
    display: none;
}
.tab-panel.active{
    display: block;
}

#tilldelaSection{
    margin-left: 150px;
}

.inlineSection{
 margin-left: 0px;
}

.selectProv{
    margin-top: 20px;
}
.userA{
    font-family: 'Chivo', sans-serif;
}